<article class='blog-post'>
  <h2>{{title}}</h2>
  <p class='blog-details'>Posted by
    {{user.name}}
    on
    {{format_date date_created}}
  </p>
  <p class='blog-content'>{{contents}}</p>
</article>

<aside>
  <h3>Comments</h3>

  {{#if logged_in}}
    <form class='comment-form my-4'>
      <div class='form-row align-items-left'>
        <div class='col-11'>
          <label class='sr-only' for='comment-title'>Write your comment here.</label>
          <input
            class='form-control mb-2'
            type='text'
            id='comment-title'
            name='comment-title'
            placeholder='Write your comment here.'
          />
        </div>

        <div class='col-auto'>
          <button
            type='submit'
            class='btn btn-primary comment-button'
            data-id='{{id}}'
          >Create</button>
        </div>
      </div>
    </form>
  {{else}}
    <p>You can <a href='/login'>log in</a> to add a comment.</p>
  {{/if}}

  <div class='comments'>
    {{#each comments as |comment|}}
      <div class='comment'>
        <p class='comment-content'>{{comment.title}}</p>
        <p class='comment-details'>{{comment.user.name}}
          {{format_date comment.date_created}}</p>
      </div>
    {{/each}}
  </div>

</aside>

<script src='../js/blog.js'></script>