<div class='dashboard'>

  <h2>Welcome, {{name}}!</h2>

  <h3>My Blog Posts</h3>
  {{#if blogs.length}}
    {{#each blogs as |blog|}}
      <article class='blog'>
        <h4><a href='/dashboard/blog/{{blog.id}}'>{{blog.title}}</a></h4>
        <p class='blog-details'>Created on
          {{format_date blog.date_created}}</p>
      </article>
    {{/each}}
  {{else}}
    <p>You have no blog posts. Click the button below to create a new one!</p>
  {{/if}}

  <p>
    <a href='/dashboard/blog' class='btn btn-sm btn-danger'>Create New Blog Post</a>
  </p>

</div>