<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class='row mt-4'>

  {{! loop through blogs }}
  {{#if blogs.length}}
    <div class='col-md-6 blog-list'>
      <h3>My Blog Posts:</h3>

      {{#each blogs as |blog|}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <p><a href='/dashboard/blog/{{blog.id}}'>{{blog.title}}</a></p>
          </div>
          {{!-- {{! div with buttons }}
          <div class='col-md-4'>

            <button
              class='btn btn-sm btn-danger'
              data-id='{{blog.id}}'
              id='delete-btn'
            >DELETE</button>

            <button
              class='btn btn-sm btn-danger'
              data-id='{{blog.id}}'
              id='update-btn'
            >UPDATE</button>
          </div> --}}

        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<div>
  <a href='/'></a>
</div>

<script src='./js/dashboard.js'></script>