<h2>Blog Post</h2>

{{! Form to creat new blog post }}
<form class='form blog-form'>
  <div class='form-group'>
    <label for='blog-title'>Title</label>
    <input
      class='form-input'
      type='text'
      id='blog-title'
      name='blog-title'
      value='{{title}}'
    />
  </div>

  <div class='form-group'>
    <label for='blog-desc'>Contents</label>
    <textarea
      class='form-input'
      id='blog-desc'
      name='blog-desc'
    >{{contents}}</textarea>
  </div>
  <div class='form-group'>

    {{#if id}}
      <button
        type='button'
        class='btn btn-primary'
        id='updateBlog'
        data-id='{{id}}'
      >Update</button>
      <button
        type='button'
        class='btn btn-primary'
        id='deleteBlog'
        data-id='{{id}}'
      >Delete</button>
    {{else}}
      <button
        type='button'
        class='btn btn-primary'
        id='createBlog'
      >Create</button>
    {{/if}}
  </div>
</form>

{{#if comments.length}}
  <h3>Comments</h3>
  <div class='comments'>
    {{#each comments as |comment|}}
      <div class='comment'>
        <p class='comment-content'>{{comment.title}}</p>
        <p class='comment-details'>{{comment.user.name}}
          {{format_date comment.date_created}}</p>
        <button
          type='button'
          class='btn btn-primary'
          id='deleteComment'
          data-id='{{comment.id}}'
        >Delete</button>
      </div>
    {{/each}}
  </div>
{{/if}}

<script src='/js/editblog.js'></script>